h1 > strong { 
    font-weight: bold;
}

main {
  width: 100%;
}

ul > .has-circled-bullet {
  margin: 0.75em;
  margin-left: 1.5em;
}

ul > .has-circled-bullet:before {
  content: '\f058';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
}