body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.columns.is-vertically-centered {
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

.button {
  background: rgba(255,255,255,.7);
  border-radius: 0;
}

.carousel .carousel-container .carousel-item .title {
  background: none;
}

.carousel-nav-left, .carousel-nav-right {
  border: 1px solid transparent;
}

.has-text-indented {
  text-indent: 0.5em;
}

a, .navbar a, .footer a {
  font-weight: 700;
  color: hsl(0, 0%, 21%);
}

a:hover, a:active, .navbar a:hover, .navbar a:active, .footer a:hover, .footer a:active {
  color: #FF6347;
  background: transparent;
}

.button:hover, .button:active {
  background-color: hsla(0, 0%, 96%, 100%);
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (min-width:1088px) {
  .is-fixed-desktop {
    position: fixed;
  }
}

[aria-hidden="true"] { visibility: hidden; }