.brand-icon {
  animation: brand-icon-spin infinite 45s linear;
  height: 24px;
}

@keyframes brand-icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-brand .navbar-item {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}