.brand-icon {
  animation: brand-icon-spin infinite 24s linear,
             brand-icon-fade 1.5s linear;
  height: 24px;
}

@keyframes brand-icon-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar-brand .navbar-item {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

@keyframes brand-icon-fade { /* flame pulses */
  0%   { opacity: 0; }
  100% { opacity: 1; }
}